<div class="image-viewer-container">
  <div class="image-viewer-main-container-img">
    <img
      [ngClass]="{'img-main--loading': fileList[imageIndex].state == false }"
      [src]="endpointUrl + 'getFile/' + fileList[imageIndex].id"
      (load)="fileList[imageIndex].state = true"
    />
  </div>
  <div class="image-viewer-main-container-content">
    <p class="viewer__p">Name: {{imageViewerModel.name}}</p>
    <p class="viewer__p">Descritpion: {{imageViewerModel.description}}</p>
    <button
      class="viewer-container__button"
      [ngClass]="{'viewer-container__button--disabld': imageViewerModel.galleryOpened === true }"
      [disabled]="imageViewerModel.files == [] || imageViewerModel.galleryOpened === true"
      (click)="openGallery(imageViewerModel.galleryOpened)"
    >
      Open Gallery
    </button>
  </div>

  <div *ngIf="imageViewerModel.galleryOpened" class="image-viewer">
    <div class="image-viewer-close-container">
      <button
        class="viewer__button"
        (click)="changeAutoSliding()"
        [disabled]="imageViewerModel.files.length <= 1"
      >
        <i
          *ngIf="this.autoSlidingTmp"
          [ngClass]="{'pi--disabled': imageViewerModel.files.length <= 1}"
          class="pi pi-pause"
        ></i>
        <i
          *ngIf="!this.autoSlidingTmp"
          [ngClass]="{'pi--disabled': imageViewerModel.files.length <= 1}"
          class="pi pi-play"
        ></i>
      </button>
      <button class="viewer__button" (click)="openGallery(imageViewerModel.galleryOpened)">
        <i class="pi pi-times"></i>
      </button>
    </div>
    <div class="image-viewer-page-container">
      <button
        class="viewer__button"
        [disabled]="imageIndex == 0 && !infiniteSliding || imageViewerModel.files.length <= 1"
        (click)="prevoius()"
      >
        <i
          [ngClass]="{'pi--disabled': imageIndex == 0  && !infiniteSliding || imageViewerModel.files.length <= 1}"
          class="pi pi-angle-left"
        ></i>
      </button>

      <div class="image-viewer-page">
        <div class="lds-ring" *ngIf="fileList[imageIndex].state == false">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <img
          [src]="endpointUrl + 'getFile/' + fileList[imageIndex].id"
          (load)="fileList[imageIndex].state = true"
        />
      </div>
      <button
        class="viewer__button"
        [disabled]="fileList.length == imageIndex + 1  && !infiniteSliding || imageViewerModel.files.length <= 1"
        (click)="next()"
      >
        <i
          [ngClass]="{'pi--disabled': fileList.length == imageIndex + 1  && !infiniteSliding || imageViewerModel.files.length <= 1}"
          class="pi pi-angle-right"
        ></i>
      </button>
    </div>
  </div>
</div>
